{
    "env": {
        "browser": true,
        "es2021": true
    },
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "extends": ["eslint:recommended"],
    "rules": {
        "comma-dangle": "off",
        "space-before-function-paren": "off"
    }
}
